{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Vaid E-commerce  {% endblock %} </title>

    <link rel="stylesheet" href="{%static 'css/ecomerce.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

     
    {% block stylesheet %}{% endblock %}
    
</head>
<body>
    
    {% include 'navbar.html' %}

<div class="mt-5 ">
{% if messages %}
        {% for message in messages %}        
        <div class="alert alert-{{ message.tags }}  alert-dismissible fade show" role="alert">
           {{ message }}
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
 {% endfor %}
{% endif %}
</div>

<!-------------- featured Section ----------------------------------------------------------->
  {% block content %}


  {% endblock %}



<section class="footer">
    <div class="container-fluid">
    <div class="row social padding">
     <div class="col-md-4 col-sm-12">
         <h2>Usefull Links</h2>
         <hr>
         <p>Trems of Use</p>
         <p> Privacy Policy</p>
         <p>Discount coupons</p>
     </div>
     <div class="col-md-4 col-sm-12">
            <h2>Company</h2>
            <hr>
            <p>Contect</p>
            <p> About Us </p>
            <p> Career </p>
            <p> Affillite </p>
    </div> 

    <div class="col-md-4 col-sm-12">
      <div class="Follow_Us">
            <h2>Follow Us</h2>
            <hr>
            
            <p><i class="fa fa-facebook-official"></i> Facebook</p>
            <p><i class="fa fa-youtube-play"></i> You Tube </p>
            <p><i class="fa fa-linkedin"></i> Linkedin </p>
            <p><i class="fa fa-twitter"></i> Twitter </p>
    </div>
    </div> 
    </div>
    <hr>
    <p class="copyright">Made Alamin <i class="fa fa-heart-o"></i> VaidTech</p>
</div>
</section>
<!---------- script section--------------------->
{% block scripts %}
<script>
    function openmenu(){
    document.getElementById("side-menu").style.display="block";
    document.getElementById("menu-btn").style.display="none";
    document.getElementById("close-btn").style.display="block";
     
}
function closemenu(){
    document.getElementById("side-menu").style.display="none";
    document.getElementById("menu-btn").style.display="block";
    document.getElementById("close-btn").style.display="none";
     
}
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/65d597ebb9.js" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>