{% load static %}
<!----------- Footer section --------------------------->
<section class="footer">
    <div class="container">
    <div class="row">
     <div class="col-md-3">
         <h2>Usefull Links</h2>
         <p>Trems of Use</p>
         <p> Privacy Policy</p>
         <p>Discount coupons</p>
     </div>
     <div class="col-md-3">
            <h2>Company</h2>
            <p>Contect</p>
            <p> About Us </p>
            <p> Career </p>
            <p> Affillite </p>
    </div> 

    <div class="col-md-3">
            <h2>Follow Us</h2>
            <p><i class="fa fa-facebook-official"></i> Facebook</p>
            <p><i class="fa fa-youtube-play"></i> You Tube </p>
            <p><i class="fa fa-linkedin"></i> Linkedin </p>
            <p><i class="fa fa-twitter"></i> Twitter </p>
    </div> 
    <div class="col-md-3 footer-image">
            <h2>Downloads</h2>
            <img src="{% static 'img/18.png' %}" alt="">
             
    </div> 
    </div>
    <hr>
    <p class="copyright">Made Alamin <i class="fa fa-heart-o"></i> VaidTech</p>
</div>
</section>

