{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
 
{% endblock %}
{% block content %}
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
       <form method="POST">
          {% csrf_token %} 
          {{ form.as_p }} 
          <div class="form-group">
            <input type="text" name="user" class="form-control" id="exampleInputEmail1" placeholder="User Name">
          </div>
          <div class="form-group">
            <input type="password" name="pass" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>

           <button type="submit" class="btn btn-success btn-rounded">Sign In</button>
          <a href="{% url 'password_reset' %}">Forgot password</a>
        </form>
       <h6>if Not Register please Register  <a href="{% url 'register'%}">Register</h6></p>
       <div class="social">
        <a href="{% url 'social:begin' 'github' %}"><i class="fa fa-github"></i></a>
        <a href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google"></i></a>
        <a href="{% url 'social:begin' 'linkedin-oauth2' %}"><i class="fa fa-linkedin"></i></a>
        <a href="{% url 'social:begin' 'facebook' %}"><i class="fa fa-facebook"></i></a>
      </div>
     
  </div>
  </div>
   {% endblock %}

   {% block scripts %}
   
 {% endblock %}