
{% load static %}
{% load cart_tamplate_tags %}
 <!------------------ start nav bar ------------------------>
 
{% block stylesheet %}

{% endblock %}
<div class="top-nav-bar">
    <div class="search-box">
            <i class="fa fa-bars" id="menu-btn" onclick="openmenu()"></i>
            <i class="fa fa-times" id="close-btn" onclick="closemenu()"></i>
        <a href="{% url 'index' %}"><img src="{% static 'img/1.png' %}" class="logo"></a>
    <form action="" method="GET">
        <input type="text" name="q" placeholder="Search Product" class="form-control">
        
    </form>
    
    </div>
    <!------------- Menu bar -------------------------> 
    <div class="menu-bar">
      <ul>
          <li><a href="{% url 'order_summary' %}"><i class="fa fa-shopping-basket"> {{ request.user|cart_item_count }} </i>Cart</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
           
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
           
          {% endif %}

        
          

      </ul>
    </div>
    <!-----------------Menu bar end -------------------------------->
</div>