{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/register/password_change_done.css' %}">
{% endblock %}
{% block content %}
<div class="col-12 py-5 mt-5">
    <div class="card text-white bg-info mb-3" style="max-width: 25rem;margin: 0 auto;">
          <div class="card-header text-center"></div>
          <div class="card-body">
                <h5 class="card-title">Success Password Changed</h5>
                <p class="card-text">Now you can sign with your new account...That's great..</p>
                <a href="{% url 'login' %}"><button class="btn btn-primary">Login</button></a>  
            </div>
    </div>

</div>
</div>
{% endblock %}